.sortable-ghost {
  color: #aaa;
  .task-board__task {
    background-color: #ddd;
  }
  .task-board__with-icon--left {
    display: none;
  }
}
.sortable-drag {
  .task-board__task {
    transform: rotate(2deg);
    background-color: #fff;
  }
  .task-board__with-icon--left {
    a {
      display: none;
    }
  }
}
