.task-board {
  background-color: $light-green;
  border-radius: 3px;
  min-width: 326px;
  margin: 0 8px 15px;
  padding: 10px 11px;
  form {
    border: 1px solid #aaa;
    border-radius: 3px;
  }
  &__time {
    min-width: 40px;
    text-align: right;
    align-self: center;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 8px;
  }
  &__heading {
    font-size: 1.4rem;
  }
  &__li {
    position: relative;
    // width: 300px;
    form {
      border: 1px solid #aaa;
      border-radius: 3px;
    }
  }
  &__task {
    cursor: pointer;
    // width: 100%;
    width: 300px;
    padding: 5px 10px;
    margin: 5px 0;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
  }
  &__p {
    line-height: 1.8;
    display: flex;
    justify-content: space-between;
    overflow-wrap: anywhere;
  }
  &__add {
    display: inline-block;
    margin-top: 6px;
  }
  &__with-icon {
    display: flex;
    align-items: center;
    &--left {
      // padding-right: 6px;
      width: 20px;
      i {
        font-weight: bold;
      }
    }
  }
}
