.task-board {
  background-color: $light-green;
  border-radius: 4px;
  min-width: 326px;
  margin-bottom: 2px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
  form {
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: $light-green;
    padding: 6px 10px;
  }
  &__body {
    padding: 3px 11px 10px;
  }
  &__time {
    min-width: 40px;
    text-align: right;
    align-self: center;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 6px;
    background-color: $theme-green;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-weight: bold;
  }
  &__heading {
    font-size: 1.4rem;
  }
  &__li {
    position: relative;
    // width: 300px;
  }
  &__task {
    cursor: pointer;
    width: 300px;
    padding: 5px 10px;
    margin: 5px 0;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    &:hover {
      background-color: #efefef;
    }
  }
  &__p {
    line-height: 1.8;
    display: flex;
    justify-content: space-between;
    overflow-wrap: anywhere;
  }
  &__add {
    display: inline-block;
    margin-top: 6px;
    color: $middle-gray;
    text-decoration: none;
    width: 100%;
    max-width: 300px;
    border-radius: 3px;
    padding: 5px 10px;
    &:hover {
      color: $theme-gray;
      // background-color: #efefef;
      background-color: #fff;
    }
  }
  &__with-icon {
    display: flex;
    align-items: center;
    &--left {
      width: 20px;
      a {
        padding-left: 6px;
        color: $thin-gray;
        &:hover {
          color: $theme-gray;
        }
        &.disabled {
          color: #aaa;
          cursor: not-allowed;
        }
      }
      i {
        font-weight: bold;
      }
    }
  }
}
