.el-input {
  padding: 0!important;
  &__inner {
    color: #2c3e50;
    padding: 0 28px 0 8px!important;
    overflow-wrap: anywhere;
  }
}

.el-input-number--small {
  width: 80px !important;
  .el-input__inner {
    padding-left: 0 !important;
  }
}
.el-input-number__decrease, .el-input-number__increase {
  width: 26px !important;
}
