.el-input-number--small {
  width: 80px !important;
  .el-input__inner {
    padding-right: 28px !important;
    padding-left: 0 !important;
  }
}
.el-input-number__decrease, .el-input-number__increase {
  width: 26px !important;
}

.el-button--mini {
  font-size: 1.4rem;
  padding: 4px 6px;
}

.task-board {
  .el-checkbox__input.is-checked .el-checkbox__inner{
    background-color: $theme-green !important;
    border-color: $theme-green !important;
  }
  .el-checkbox__inner {
    &:hover {
      border-color: $theme-green !important;
    }
  }
  .el-checkbox__input {
    height: 16px !important;
    width: 16px !important;
  }
  .el-checkbox__inner {
    height: 16px !important;
    width: 16px !important;
  }
}
.el-checkbox__label {
  color: $theme-gray;
}

.el-divider {
  background-color: #aaa;
  &__text {
    color: $theme-gray;
    background-color: $light-gray;
  }
}

.el-dialog {
  width: 30%;
  min-width: 320px;
}

.el-notification {
  background-color: $light-gray;
  border: 1px solid $theme-gray;
}
