$theme-green: #42b983;
$middle-green: #98e7c4;
$light-green: #c0ebd7;
$super-light-green: #e7fcf2;
$theme-gray: #2c3e50;
$thin-gray: #516070;
$middle-gray: #425263;
$light-gray: #ebecf0;
$google: #ea4335;
$light-google: #faeae9;
$thick-primary: #1f6bb6;
$primary: #409eff;
$light-primary: #e8f3fd;
$danger: #f56c6c;

$breakpoints: (
  'sm': 'screen and (max-width: 479px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 1199px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@import 'mixin.scss';
