@import 'mixin.scss';

$theme-green: #42b983;
$middle-green: #98e7c4;
$light-green: #c0ebd7;
$theme-gray: #2c3e50;
$thin-gray: #516070;
$middle-gray: #425263;
$light-gray: #ebecf0;
$primary: #409eff;
